.jnto-travel-key-visual-content-heading .mod-keyvisual__heading-text {
    text-align: center;
    font-size: 33px;
}

.jnto-travel-key-visual-content-heading .mod-keyvisual__description {
    text-align: center;
    display: block;
    font-size: 14px;
    margin-top: 20px;
    font-weight: normal;
}

.jnto-travel-key-visual-caption-content {
    color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px;
}

.jnto-travel-key-visual-caption-content::before {
    content: " ";
    background-image: url("https://asset.japan.travel/image/upload/v1517120126/static/svg/common/icon_marker_white.svg");
    background-size: 15px 15px;
    height: 15px;
    width: 15px;
    text-align: center;
    background-position: 50%;
    background-repeat: no-repeat;
    padding-top: 22px;
    padding-right: 10px;
    float: left;
    margin-top: -8px;
    display: inline-flex;
}

.jnto-travel-key-visual-caption-content:hover::before {
    content: " ";
    background-image: url("https://asset.japan.travel/image/upload/v1515895140/static/svg/common/icon_marker_red.svg");
    background-size: 15px 15px;
    height: 15px;
    width: 15px;
    text-align: center;
    background-position: 50%;
    background-repeat: no-repeat;
    padding-top: 22px;
    padding-right: 10px;
    float: left;
    margin-top: -8px;
    display: inline-flex;
}

.jnto-travel-description-content {
    margin-top: 70px;
}

.jnto-travel-description-content p {
    margin-bottom: 30px;
    font-size: 14px;
}

.jnto-travel-description-content .jnto-travel-description-content-large {
    font-size: 20px;
}

.jnto-travel-description-content .jnto-travel-description-content-small {
    font-size: 14px;
}

.jnto-travel-description-content .jnto-travel-description-content-med {
    font-size: 14px;
    line-height: 22px;
}

.jnto-travel-description-content.jnto-travel-category-box-accordion .jnto-travel-description-content-large {
    margin-top: 20px !important;
}

.jnto-travel-description-content .jnto-travel-title {
    font-size: 30px;
}

.jnto-travel-description-content .jnto-travel-title.constrain-w {
    max-width: 60%;
    margin: auto;
    margin-bottom: 25px;
}

.jnto-travel-section-header {
    font-size: 28px;
    font-weight: bold;
}

.jnto-travel-sub-title {
    font-size: 14px;
    font-weight: bold;
}

.jnto-travel-table-content {
    margin-top: 50px;
    font-size: 14px;
}

.jnto-travel-destination-banner {
    position: relative;
    margin: 55px 0;
}

.jnto-travel-destination-banner img {
    width: 335px;
    height: 142px;
    object-fit: cover;
    object-position: center;
}

.jnto-travel-destination-banner .jnto-travel-img-content {
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 400;
}

.jnto-travel-destination-banner .jnto-travel-img-content h2 {
    font-weight: bold;
    font-size: 26px;
    font-style: italic;
}

.jnto-travel-destination-banner .jnto-travel-img-content h3 {
    font-size: 15px;
    font-weight: normal;
}

.jnto-travel-table-content-detail {
    overflow-x: auto;
}

.jnto-travel-table-content-detail table {
    margin: 40px 0 20px 0;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: none;
}

.jnto-travel-table-content-detail table th, .jnto-travel-table-content-detail table td {
    text-align: left;
    padding: 15px;
    border: none;
}

.jnto-travel-table-content-detail table thead th {
    background-color: #fae5eb;
    border: none;
}

.jnto-travel-table-content-detail table tr:nth-child(even) {
    background-color: #ededed;
}

.jnto-travel-table-content-detail table tr:nth-child(odd) {
    background-color: #fef5f8;
}

.jnto-travel-table-content-detail table th {
    width: 1px;
    white-space: nowrap;
}

.jnto-travel-img-overlay {
    width: 335px;
    height: 142px;
    margin: auto;
}

.jnto-travel-img-overlay::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: linear-gradient(120deg, #000, #000);
    z-index: 1;
    opacity: 0.4;
}

.jnto-travel-inspiring-articles-section .mod-slider__heading {
    font-size: 24px;
}

@media (min-width: 768px) {
    .jnto-travel-key-visual-content-heading .mod-keyvisual__heading-text {
        font-size: 60px;
        padding: 0;
    }

    .jnto-travel-key-visual-content-heading .mod-keyvisual__description {
        padding: 0;
        text-align: center;
        display: block;
        font-size: 24px;
        margin-top: 20px;
    }

    .jnto-travel-destination-banner {
        margin: auto;
        text-align: center;
    }

    .jnto-travel-destination-banner img {
        width: 860px;
        height: 360px;
    }

    .jnto-travel-description-content {
        max-width: 865px;
        margin: 50px auto;
    }

    .jnto-travel-description-content p {
        margin-bottom: 30px;
        font-size: 16px;
    }

    .jnto-travel-description-content .jnto-travel-description-content-large {
        font-size: 28px;
        text-align: center;
    }

    .jnto-travel-description-content .jnto-travel-description-content-large.slim-w {
        max-width: 670px;
        margin: auto;
    }

    .jnto-travel-description-content .jnto-travel-title {
        font-size: 48px;
    }

    .jnto-travel-description-content .jnto-travel-title.constrain-w {
        max-width: 100%;
        margin: auto;
        margin-bottom: 25px;
    }

    .jnto-travel-description-content .jnto-travel-description-content-med {
        font-size: 16px;
        line-height: 24px;
    }

    .jnto-travel-table-content {
        margin: 70px auto;
        font-size: 16px;
    }

    .jnto-travel-table-content p {
        max-width: 865px;
        margin: auto;
    }

    .jnto-travel-section-header {
        font-size: 36px;
    }

    .jnto-travel-sub-title {
        font-size: 14px;
        font-weight: bold;
    }

    .jnto-travel-inspiring-articles-section {
        margin-bottom: 40px;
    }

    .jnto-travel-inspiring-articles-section .mod-slider__heading {
        font-size: 36px;
    }

    .jnto-travel-key-visual-caption-content {
        font-size: 16px;
    }

    .jnto-travel-key-visual-caption-content:hover {
        color: #E50111;
    }

    .jnto-travel-map-content .jnto-travel-section-header, .jnto-travel-map-content .jnto-travel-sub-title {
        max-width: 865px;
        margin: auto;
    }

    .jnto-travel-destination-banner .jnto-travel-img-content h2 {
        font-weight: bold;
        font-size: 52px;
    }

    .jnto-travel-destination-banner .jnto-travel-img-content h3 {
        font-size: 30px;
    }

    .jnto-travel-img-overlay {
        width: 860px;
        height: 360px;
    }
}

.jnto-travel-wrapper {
    max-width: 1140px;
    margin: auto;
}

.jnto-travel-wrapper {
    padding-right: 4.73684%;
    padding-left: 4.73684%;
}

.jnto-travel-more-info-link {
    color: #e7001d;
}

.jnto-travel-hide {
    display: none;
}

.jnto-travel-text-center {
    text-align: center;
}

.jnto-travel-button {
    outline: none;
    cursor: pointer;
    margin: 25px auto 10px auto;
    background-color: white;
    border: solid 1px red;
    padding: 5px 20px;
    border-radius: 30px;
    text-transform: uppercase;
}

.jnto-travel-button:hover {
    background-color: #e6111d;
    color: white;
}

.jnto-travel-section-title-block h2 {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
}

.jnto-travel-section-title-block h2.large {
    font-size: 24px;
}

.jnto-travel-section-gray-bg {
    background-color: #f6f6f6;
}

.jnto-travel-sakrua-top-spacer {
    padding-top: 50px;
}

@media (min-width: 768px) {
    .jnto-travel-wrapper {
        max-width: 1140px;
        margin: auto;
    }

    .jnto-travel-wrapper .jnto-travel-wrapper-content {
        padding-right: 4.73684%;
        padding-left: 4.73684%;
    }

    .jnto-travel-sakrua-top-spacer {
        padding-top: 100px;
    }

    .jnto-travel-section-title-block h2 {
        font-size: 36px;
    }

    .jnto-travel-section-title-block h2.large {
        font-size: 36px;
    }
}

/* sakura sidebar */
.jnto-travel-sidebar {
	margin-top: 30px;
	margin-bottom: 20px;
}

.jnto-travel-sidebar .jnto-travel-sidebar-content {
	padding: 10px;
	background-color: #FFCCDA;
	border-radius: 8px;
}

.jnto-travel-sidebar .jnto-travel-sidebar-title h2 {
	margin: 15px 0;
	text-align: center;
	font-size: 24px;
	font-weight: bold;
}

.jnto-travel-sidebar .jnto-travel-sidebar-inner-content {
	padding: 30px 14px 4px 14px;
	background-color: white;
	border-radius: 8px;
}

.jnto-travel-sidebar .jnto-travel-sidebar-inner-content .jnto-travel-sidebar-inner-content-block {
	margin-bottom: 10px;
}

.jnto-travel-sidebar .jnto-travel-sidebar-inner-content .jnto-travel-pink-highlight {
	background-color: #FFCCDA;
	border-radius: 8px;
}

.jnto-travel-sidebar .jnto-travel-sidebar-inner-content .jnto-travel-sidebar-inner-content-item p {
	text-align: center;
	font-weight: bold;
	padding: 10px 8px 10px 8px;
	font-size: 20px;
}

.jnto-travel-sidebar .jnto-travel-sidebar-more-info {
	padding: 15px 0;
}

.jnto-travel-sidebar .jnto-travel-sidebar-more-info p a {
	font-size: 16px;
	float: right;
	text-align: right;
	text-decoration: underline;
}

.jnto-travel-sidebar .jnto-travel-sidebar-more-info p a:hover {
	color: #e7001d;
}

.mod-keyvisual__image:before{
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.3) 50%, rgba(0, 0, 0, 0.3))!important;
}
